{% extends 'User/base.html' %}

{% block content %}
    
    {% if movies %}
        <div class="container">
        <h2>Find Your Favourite Movies Here</h2>
        {% if movies.Response %}
            <div class="row">
                {% for movie in movies.Search %}
                    <div class="col-md-4">
                        <div class="card" >
                            {% if movie.Poster == 'N/A' %}
                                <img class="card-img-top" src="https://via.placeholder.com/350x520.png?text=No+Poster+Sorry" alt="Card image cap">
                            {% else %}
                                <a href="{% url 'display' movie.imdbID %}"><img class="card-img-top" src="{{movie.Poster}}" alt="Card image cap"></a>
                            {% endif %}
                             <div class="card-body">
                                <h4 class="card-title">{{movie.Title}}</h5>
                                <p class="card-text">{{movie.Year}}</p>
                                <p class="card-text">{{movie.Type}}</p>
                                <a href="{% url 'display' movie.imdbID %}" class="btn btn-primary">More</a>
                            </div>
                        </div>
                    </div>                        
                {% empty %}
                    Nothing found
                {% endfor %}
            </div>
        {% endif %}  
        </div>
    {% endif %}

{% endblock content %}