{% extends 'User/base.html' %}
{% load static %}
{% block head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'BookMyMovie/css/BM-main.css' %}">
{% endblock head_links %}

{% block content %}

    {% if movie %}
        <div class="row">
            <div class="container">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="{{movie.posterURL}}" alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-md-offset-1 col-sm-6 col-md-8">
                            <h3>{{movie.name}}</h3>
                            <cite title="Year">{{movie.Year}}<i class="glyphicon glyphicon-map-marker">
                            </i></cite>
                            <br>
                            <h5><b>Plot :</b>{{movie.description}}</h5>
                            <h5><b>Genre :</b>{{movie.genre}}</h5>
                            <h5><b>Director:</b> {{movie.director}}</h5>
                            <h5><b>Language:</b> {{movie.language}}</h5>
                            <h5><b>Release Date:</b> {{movie.releaseDate}}</h5>
                            {% if user.is_authenticated %}
                                {% comment %} <a class="btn btn-primary book-btn" href="{% url 'calender' movie.id %}">Book Your Seat</a> {% endcomment %}
                                <a data-toggle="modal" data-target="#myModal"><button type="button" class="btn btn-primary book-btn">Book Your Seat</button></a>
                            {% else %}
                                <a href="{% url 'login' %}"><button type="button" class="btn btn-primary book-btn">Book Your Seat</button></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h3>No Data Found</h3>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Select Day of the Week</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>modal body</p>
            {% if showdays %}
                <div class="boxed">
                {% for day in showdays %}
                    <input type="radio" id="{{day}}" name="showday" value="{{day.id}}">
                    <label for="{{day}}">{{day}}</label>
                {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href="{% url 'theatre' 2 %}"><button type="button" class="btn btn-primary">Half Done</button></a>
        </div>
        </div>
    </div>
    </div>

{% endblock content %}