{% extends 'User/base.html' %}
{% load static %}
{% block head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'BookMyMovie/css/BM-main.css' %}">
    {% comment %} <script src="{% static 'BookMyMovie/js/BookMovie.js' %}"></script> {% endcomment %}
{% endblock head_links %}

{% block content %}
    <div class="container">

        <h1>Choose Your seats</h1>
        <br>
        <div class="seat-wrapper">
            <div class="seat-head">
                <h6 class="seat-screen">Screen Here</h6>
            </div>
            <br><br>
            <div class="seat-body">
                <div class="seat-layout">
                    <form  method="POST">
                    {% csrf_token %}
                        <div class="form-inline">
                            {% for i,j in seat_details.items %}
                                <div class="btn-group-toggle" data-toggle="buttons">
                                    <label id="seat-{{i}}" class="seat-btn btn btn-light {% ifequal j.1 'active' %}active{% endifequal %}">
                                        <input type="checkbox" value="{{i}}" name="seats" {% ifequal j.2 'disabled' %}disabled="true"{% endifequal %}>{{i}}
                                    </label>
                                </div>
                                {% comment %} {% if forloop.counter|divisibleby:10 %}<br>{% endif %} {% endcomment %}          
                            {% endfor %}
                            <input type="hidden" value="{{show_data.id}}" name="show">
                            <input type="hidden" value="{{show_data.price}}" name="price">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary seat-submit-btn">submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'BookMyMovie/js/BookMovie.js' %}"></script>
{% endblock scripts %}