{% extends 'User/base.html' %}
{% load static %}
{% block head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'BookMyMovie/css/BM-main.css' %}">
{% endblock head_links %}

{% block content %}
    <div class="container">
        {% comment %} <h1>{{show_data.movieID}}</h1> {% endcomment %}
        <h1>Choose Your seats</h1>
        <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="checkbox" checked autocomplete="off"> 2
            </label>
        </div>
        <div class="seat-wrapper">
            <div class="seat-head">
                <h6 class="seat-screen">Screen Here</h6>
            </div>
            <br><br>
            <div class="seat-body">
                <div class="seat-layout">
                    <form  method="POST">
                    {% csrf_token %}
                        <div class="form-inline">
                            {% for i in seats_arr %}
                                <div class="btn-group-toggle" data-toggle="buttons">
                                    <label class="seat-btn btn btn-light ">
                                        <input type="checkbox" value="{{i}}" name="seats">{{i}}
                                    </label>
                                </div>
                                {% comment %} {% if forloop.counter|divisibleby:10 %}<br>{% endif %} {% endcomment %}
                            {% endfor %}
                        </div>
                        <br>
                        <button type="submit">submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}